<!DOCTYPE html>
<html lang="en">
<head >
	<meta charset="UTF-8">
	<meta name="Convivencia">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" href="css/fonds.css">
	<title>Inicio</title>
	
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <style type="text/css">
  	#fondo{
	background-color: #DDEDFC;
}


.titulos{
	text-align: center;

	font-family: Bodoni MT;

}

footer {
  background-color: #EB2B2B;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
  </style>
</head>
<body id="fondo">
	<header>
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    
     <a href="inicio.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" style="text-decoration-line: none;">Inicio</a>
     <a href="exampas.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" style="text-decoration-line: none;">Examenes pasados</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" style="text-decoration-line: none;">Problemas</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" style="text-decoration-line: none;">Ayuda al universitario</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" style="text-decoration-line: none;">Biblioteca</a>
  </div>

  
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Inicio</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Examenes pasados</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Problemas</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Ayuda al universitario</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Biblioteca</a>
  </div>
</div>
	</header>
<main>
    @RenderBody()
</main>
	<footer>
		aji de gallina 
		<br>
		<br>
	</footer>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>
