<section>
		<header class="w3-container w3-light-grey w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Convivencia</h1>
  <p class="w3-xlarge">Esta página ha sido creada con el objetivo de facilitar a los alumnos la obtencion de examenes pasados, exponer soluciones a problemas que tienen con la universidad y una seccion de comentarios para exponer ayudas, clases privadas o consejo de matricula.</p>
</header>