@model Estudiante
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estudiante Registrado- Convivencia</title>
    <link rel="stylesheet" type="text/css" href="css/Estilos.css">
</head>
<body>
    <h1 style="color: lightblue; margin-top: 40px;">Registrar Estudiante > Registro</h1><br/>
    <label><b>Nombre</b></label>
    <div class="form-group">@Html.DisplayTextFor(model=>model.Name)</div><br/>
    <label><b>Curso</b></label>
    <div class="form-group">@Html.DisplayTextFor(model=>model.Curso)</div><br/>
    <label><b>Créditos</b></label>
    <div class="form-group">@Html.DisplayTextFor(model=>model.Creditos)</div><br/>
    <label><b>Total</b></label>
    <div class="form-group">@Html.DisplayTextFor(model=>model.Costo)</div><br/><br/>
    <input type="submit" class="btn btn-info" value="Volver" style="margin: auto; display: block; margin-bottom: 40px;" onclick="window.history.back();"/>
</body>
</html>