<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Problemas - Convivencia</title>
    <link rel="stylesheet" type="text/css" href="css/Estilos.css">
</head>
<body>
    <h1>Aquí va el contenido de nuestros Problemas</h1>
</body>
</html>