/*#fondo {
    background-color: #DDEDFC;
}

.titulos {
    text-align: center;
    font-family: Bodoni MT;
}

footer {
    background-color: #EB2B2B;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}*/